.git
.github
.vscode
.agents
.codex

node_modules
.next
out
build
coverage
.devtools
.vercel

bin
obj
*.tsbuildinfo
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
*.pem
